body{background-color: rgb(246,246,256);overflow-y: hidden;}
*{margin: 0;padding: 0;}
header{
    position: relative;
    text-align: center;
    top: 400px;
    transition: 0.8s ease-in-out;
} 
header>p{
    text-shadow: rgba(0, 0, 0, 0.349) 0 0 30px;
    display: inline-block;
    position: relative;
    font-family: 'Itim', cursive;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 250px;
    color: black;
    -moz-animation: span 0.5s cubic-bezier(0.2,0.9,0,1);
    -ms-animation: span 0.5s cubic-bezier(0.2,0.9,0,1);
    -o-animation: span 0.5s cubic-bezier(0.2,0.9,0,1);
    -webkit-animation: span 0.5s cubic-bezier(0.2,0.9,0,1);
    animation: span 0.5s cubic-bezier(0.2,0.9,0,1);
}
#entrance{
    position: fixed;
    top:0;
    left: 25%;
    z-index: 10;
}
.money{
    transition: 0.3s;
    position: absolute;
    top:-2000px;
    width: 712px;
    height: 315px;
    display: inline-block;
    background-image: url(../images/5만원권.png);
    background-size: cover;
    transform: rotate(90deg);
}
.money:hover{
    transform:rotate(90deg) scale(1.1);
}
#gambleZone{
    position: relative;
    top: 1080px; 
    height: 10000px;
}
@keyframes span{
    from{
        transform: scale(4);
    }
    to{
        transform: scale(1);
    }
}